.box{display:inline-block;
    font-family:'Comic Sans MS', cursive;
    background-color: black;
    color:white;
    font-size:100%;
    width: 300px;}

 h2{color:white}
 p{color :grey}

.h1{color:rgb(8, 94, 165);}  

img{display:block;
     width:100%;}   
